<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>慕课网视频批量下载</title>
    <!-- 添加至主屏, 从主屏进入会隐藏地址栏和状态栏, 全屏(content="yes") -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 系统顶栏的颜色(content = black、white 和 black-translucent)选其一就可以 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 指定标题 -->
    <meta name="apple-mobile-web-app-title" content="慕课网视频批量下">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="/">慕课网 视频下载</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">



                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="这里是搜索课程的">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="searchBtn" type="button">搜索</button>
                       </span>
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li class="active"><a href="http://go.kieran.top">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="jumbotron masthead">
    <div class="container">
        <h1>慕课网 视频
            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
                怎么用？
            </button>
        </h1>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">教程：</h4>
                    </div>
                    <div class="modal-body">
                        导航栏直接搜索课程，点击生成下载链接 <br/>
                        右击点链接另存为，这样保存的文件名是正确的 <br/>
                        如果你想批量下载，可以右击选择迅雷批量下载链接，不过下载下来的文件名是乱的 <br/>
                        你也可以直接输入课程号搜索，课程号是什么呢？ <br/>
                        比如 <a href="http://www.imooc.com/view/185">http://www.imooc.com/view/185</a> 的课程号就是 185
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <h2>一键批量下载，让下载视频更迅速、简单。</h2>
        <form class="form-inline">
            <div class="form-group">
                <label for="lessionId">http://www.imooc.com/learn/</label>
                <input type="text" class="form-control" id="lessionId" placeholder="你也可以直接输入课程号">
            </div>
            <button type="button" class="btn btn-primary" id="send">发送课程号</button>
        </form>
    </div>
</div>
<div class="container contentLeft" style="width: 60%">
    <ul class="list-group">

    </ul>
</div>

<div class="container contentRight" style="width: 40%">
    <ul class="list-group"></ul>
</div>
<div class="container">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="imooc" data-title="慕课下载工具" data-url=""></div>
    <!-- 多说评论框 end -->
</div>

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"kieran"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
<script>
    var searchCourse = function(){
        $.post('/search', { keyword: $('#search').val() }, function(data){
            $('.contentLeft .list-group').empty();
            $('.contentLeft .list-group').append(data);
        })
    }
    function sendCourse(idx){
        $.post('/video', {
            lessionId: idx
        }, function(data){
            $('.contentRight .list-group').empty();
            for(var i=0;i<data.length;i++){
                var list = '';
                list += '<li class="list-group-item"><a href="'
                        +data[i].href+'" download="'
                        +data[i].title.trim()+'">'
                        +data[i].title.trim()
                        +'</a></li>';
                $('.contentRight .list-group').append(list);
            }
        });
    }
    $('#search').on('change', searchCourse);
    $('#searchBtn').on('click', searchCourse);

    $('#send').on('click', function(){sendCourse($('#lessionId').val())});
</script>
</body>
</html>