.jumbotron.masthead{
	margin-top: 20px;
}
.contentLeft, .contentRight{
    float: left;
}

.highlight {
    color: #c33;
}
.course .btn.btn-warning.btn-xs{
	margin-left: 20px;
}
.course .content {
    line-height: 22px;
    margin-top: 20px;
}
.course .thumbnail {
    width: 200px;
    overflow: hidden;
    padding: 0;
}
.course .thumbnail img {
    width: 210px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
}
.course .thumbnail, .search-course .course .introduction {
    float: left;
    height: 120px;
    margin-right: 10px;
}
.course .thumbnail img {
    min-width: 200px;
    height: 120px;
    border: 0;
}
.course .thumbnail:hover img {
    transform: scale(1.2);
}
.course .introduction {
    margin-left: 10px;
    margin-top: -4px;
    font-size: 12px;
    line-height: 24px;
}
.autowrap {
    word-wrap: break-word;
    word-break: break-all;
}
/* Loading Start */
.cover {
    position:fixed;
    top: 0px;
    right:0px;
    bottom:0px;
    filter: alpha(opacity=60);
    background-color: #777;
    z-index: 1002;
    left: 0px;
    display:none;
    opacity:0.5;
    -moz-opacity:0.5;
}
.sk-spinner-double-bounce.sk-spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    display: none;
}
.sk-spinner-double-bounce .sk-double-bounce1, .sk-spinner-double-bounce .sk-double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
    animation: sk-doubleBounce 2s infinite ease-in-out; }
.sk-spinner-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }

@-webkit-keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes sk-doubleBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
/* Loading End */